.breadcrumbs-bar {
  position: absolute;
  top: 16px;
  left: 32px;
  z-index: 20;
  max-width: calc(100% - 64px);
}

.breadcrumbs {
  width: auto;
}

.breadcrumbs--dark {
  :global([class*='tree-button']) svg path {
    fill: var(--rp-ui-base-e-300);
  }

  :global([class*='tree-button']:hover) svg path,
  :global([class*='tree-button'].opened) svg path {
    fill: var(--rp-ui-base-topaz-hover);
  }

  :global([class*='breadcrumb-text']) {
    color: var(--rp-ui-base-e-300);
  }
}

.breadcrumbs--light {
  :global([class*='tree-button']) svg path {
    fill: var(--rp-ui-base-e-400);
  }

  :global([class*='tree-button']:hover) svg path,
  :global([class*='tree-button'].opened) svg path {
    fill: var(--rp-ui-base-topaz-hover);
  }
}
