.mobitru-settings {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  color: var(--rp-ui-color-text-secondary);
  font-size: 11px;
  line-height: 1.4;
}

.value {
  color: var(--rp-ui-color-text);
  font-size: 13px;
  line-height: 1.4;
}
